<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="project">
      <h2 data-cy="projectDetailsHeading"><span jhiTranslate="jhipsterprojectApp.project.detail.title">Project</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ project.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterprojectApp.project.name">Name</span></dt>
        <dd>
          <span>{{ project.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterprojectApp.project.clientName">Client Name</span></dt>
        <dd>
          <span>{{ project.clientName }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterprojectApp.project.isUpsale">Is Upsale</span></dt>
        <dd>
          <span>{{ project.isUpsale }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterprojectApp.project.country">Country</span></dt>
        <dd>
          <span>{{ project.country }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterprojectApp.project.clientCompany">Client Company</span></dt>
        <dd>
          <span>{{ project.clientCompany }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/project', project.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
