<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="employee">
      <h2 data-cy="employeeDetailsHeading"><span jhiTranslate="jhipsterprojectApp.employee.detail.title">Employee</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ employee.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterprojectApp.employee.name">Name</span></dt>
        <dd>
          <span>{{ employee.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterprojectApp.employee.employeeId">Employee Id</span></dt>
        <dd>
          <span>{{ employee.employeeId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterprojectApp.employee.age">Age</span></dt>
        <dd>
          <span>{{ employee.age }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterprojectApp.employee.gender">Gender</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterprojectApp.Gender.' + employee.gender }}">{{ employee.gender }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
